@model MovieEditViewModel
@section CssFile {
    <link href="~/css/admin.min.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Edit Movie";
}

<section class="section create-section form-section">
    <h2 id="section-header" class="section-title position-relative text-center my-1">Edit</h2>
    <div class="container">

        <form enctype="multipart/form-data" method="post" asp-action="Edit">
            <div class="card-front my-5 m-auto p-3">
                <div class="row">
                    <input hidden asp-for="MovieId" />
                    <input hidden asp-for="ExistPhoto" />

                    <div class="img-details d-flex justify-content-center mb-2 overflow-hidden">
                        <img id="form-image" src="~/@Model.ExistPhoto" />
                    </div>
                    <div class="col-12 form-group position-relative">
                        <input asp-for="CoverPhoto" id="image-url" class="input-field hide-file-name">
                        <label for="image-url" class="btn-main">Choose an Image</label>
                        <span asp-validation-for="CoverPhoto" class="input-validation"></span>
                    </div>
                    <div class="col-12 form-group position-relative">
                        <input asp-for="GallaryPhotos" id="GallaryPhotos" class="input-field hide-file-name">
                        <label for="GallaryPhotos" class="btn-main">Choose a Gallary Images</label>
                        <span asp-validation-for="GallaryPhotos" class="input-validation"></span>
                    </div>
                    <div class="col-12 form-group position-relative mt-4">
                        <label asp-for="MovieName"></label>
                        <input asp-for="MovieName" type="text" class="input-field">
                        <i class="fas fa-film details-icon"></i>
                        <span asp-validation-for="MovieName" class="input-validation"></span>
                    </div>
                    <div class="col-12 form-group position-relative mt-4">
                        <label asp-for="MovieDescription"></label>
                        <input asp-for="MovieDescription" type="text" class="input-field">
                        <i class="fas fa-info details-icon"></i>
                        <span asp-validation-for="MovieDescription" class="input-validation"></span>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="MovieRunningTime"></label>
                        <input asp-for="MovieRunningTime" type="text" class="input-field">
                        <i class="far fa-clock details-icon"></i>
                        <span asp-validation-for="MovieRunningTime" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="CountryId"></label>
                        <select asp-for="CountryId" asp-items="@(new SelectList(@ViewBag.Countries, "Id", "CountryName"))" id="country-list">
                        </select>
                        <i class="far fa-globe details-icon"></i>
                        <span asp-validation-for="CountryId" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="LanguageId"></label>
                        <select asp-for="LanguageId" asp-items="@(new SelectList(@ViewBag.languages, "Id", "LanguageName"))" id="language-list">
                        </select>
                        <i class="far fa-language details-icon"></i>
                        <span asp-validation-for="LanguageId" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="GenresId"></label>
                        <select asp-for="GenresId" asp-items="@(new SelectList(@ViewBag.Genres, "Id", "GenreName"))" id="genre-list" multiple size="3">
                        </select>
                        <i class="far fa-tasks details-icon"></i>
                        <span asp-validation-for="GenresId" class="input-validation"></span>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="ActorsId"></label>
                        <select asp-for="ActorsId" asp-items="@(new SelectList(@ViewBag.Actors, "Id", "CrewName"))" id="actors-list" multiple size="2">
                        </select>
                        <i class="far fa-users details-icon"></i>
                        <span asp-validation-for="ActorsId" class="input-validation"></span>
                    </div>

                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="WritersId"></label>
                        <select asp-for="WritersId" asp-items="@(new SelectList(@ViewBag.Writers, "Id", "CrewName"))" id="writers-list" multiple size="2">
                        </select>
                        <i class="far fa-users details-icon"></i>
                        <span asp-validation-for="WritersId" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="DirectorsId"></label>
                        <select asp-for="DirectorsId" asp-items="@(new SelectList(@ViewBag.Directors, "Id", "CrewName"))" id="directors-list" multiple size="2">
                        </select>
                        <i class="far fa-users details-icon"></i>
                        <span asp-validation-for="DirectorsId" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative mt-4">
                        <label asp-for="MovieRate"></label>
                        <input asp-for="MovieRate" type="text" class="input-field">
                        <i class="fas fa-certificate details-icon"></i>
                        <span asp-validation-for="MovieRate" class="input-validation"></span>
                    </div>
                    <div class="col-12 col-md-6 form-group position-relative my-4">
                        <label asp-for="MovieReleaseDate"></label>
                        <input asp-for="MovieReleaseDate" type="date" class="input-field">
                        <i class="far fa-calendar-alt details-icon"></i>
                        <span asp-validation-for="MovieReleaseDate" class="input-validation"></span>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="input-validation"> </div>
                    <div class="col-12 form-group my-4 d-flex flex-column flex-sm-row justify-content-around">
                        <input type="submit" value="Update" class=" btn btn-success fs-5 px-5 py-2 mb-3 mb-sm-0">
                        <a asp-area="Admin" asp-action="Index" class="btn btn-danger fs-5 px-5 py-2">Back</a>
                    </div>

                </div>
            </div>

        </form>
    </div>
</section>
@section AdminJs {
    <script src="~/js/bundle.js"></script>
}