@model CrewDetailsEditViewModel
@{
    ViewData["Title"] = @Model.CrewName;
}

<section class="section details-section mb-5">
    <div class="container">
        <div class="section-content">
            <div class="section-header d-flex align-items-center">
                <div class="icon-wrapper">
                    <i class="far fa-user text-white"></i>
                </div>
                <div id="section-header" class="content-title text-white fs-3 fw-bold"> @Model.CrewName</div>
            </div>
            <div class="section-body">
                <div class="row g-4 p-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card card-color position-relative">
                            <div class="card-header">
                                <img src="~/@Model.ExistPhoto" class="card-img-top card-img" asp-append-version="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="position-relative">
                            <p><strong>Biography </strong></p>
                            <p class="@(Model.CrewBiography== null ? "d-none" : "d-block")"> @Model.CrewBiography</p>
                            <p class="@(Model.NationalityName== null ? "d-none" : "d-block")"><strong>Nationality: </strong> @Model.NationalityName </p>
                             <p class="@(Model.CrewDateofBirth == new DateTime(0001, 1, 1) ? "d-none" : "d-block")"> <strong>Date of Birth: </strong>@Model.CrewDateofBirth.ToString("dd/MM/yyyy")</p>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Actor Photo Section -->
<section class="section  details-section mb-5" @(Model.ExistCrewGallery.Count() == 0 ? "d-none" : "d-block")">
    <div class="container">
        <h4 class="mb-4">Actor Photos</h4>
        <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="0">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner ">
                @{
                    int length = Model.ExistCrewGallery.Count();
                    int itration = (int)Math.Ceiling(length / 4.0);
                    int num = 0;
                    int counter = 0;
                }
                @for (int i = 1; i <= itration; i++)
                {
                    counter = (itration == 1 ? length :  i < itration ? 4 : (length % 4) == 0 ? 4 : (length % 4));
                    <div class="@(i==1 ? "carousel-item active" : "carousel-item")">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                            @for (int j = 0; j < counter; j++)
                            {
                                <div class="col">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="/@Model.ExistCrewGallery[num].ImageURL" class="img-fluid" asp-append-version="true">
                                        </div>
                                    </div>
                                </div>
                                num = num + 1;
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<!--Actor Filmography Section -->
<section class="section  details-section mb-5">
    <div class="container">
        <h4 class="mb-4">Filmography</h4>
        @await Component.InvokeAsync("RelatedMovies", new
               {
                   crewId = Model.CrewId
               })
    </div>
</section>
